@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.logo {
  text-align: center;
  color: #fff;
  float: left;
  font-weight: bold;
  margin: 32px 0 32px 24px;
}

.site-layout-background {
  background: #fff;
}
